# All Files
* @thesatanic/best
* @jokerian


# Reserved Domains
domains/reserved/* @thesatanic/best

# User Domains
domains/* @thesatanic/best

# MD Files
README.md @thesatanic/best
terms.md @thesatanic/best
