# All Files
* @andrewstech

# Reserved Domains
domains/reserved/* @open-domains/owners

# User Domains
domains/* @open-domains/maintainers

# MD Files
*.md @open-domains/maintainers
terms.md @open-domains/owners
