# All Files
* @open-domains/owners


# Reserved Domains
domains/reserved/* @open-domains/owners

# User Domains
domains/* @open-domains/maintainers

# MD Files
README.md @open-domains/maintainers
terms.md @open-domains/owners
