name: Auto-Merge
on:
  pull_request_target:
    types: [created]

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest

   
    steps:
    - uses: alexwilson/enable-github-automerge-action@main
      with:
        github-token: "${{ secrets.BOT }}"
